#big_wrapper {
    margin: 0px auto;
    min-width: 950px;
    max-width: 950px;
    text-align: left;
    position: relative; 
}
body {
    font: 20px 'Lato';
    margin: 0;
    padding: 0;
    background-color: #424242;
}

header{
	background: #303030;
	width: 100%;
	height: 110px;
	text-align: center;
	color: #CDDC39;
	font-size: 22px;
	padding-top: 20px;
}
footer{
	background: #212121;
	clear: both;
	position: relative;
	left: 0; 
	bottom: 0; 
	width: 100%;
	height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	padding-top: 10px;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #CDDC39;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #303030;
}
ul.submenu {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    background-color: white;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #CDDC39;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
p{
	text-indent: 10px;
	color: white;
}